.card.staff {
  transition: 0.2s;
}

.card.staff:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #f6f6f6;
}

.card.active {
  background-color: #f6f6f6;
  border: 2px solid #0d6efd !important;
}
