:root {
  --color-main: #93c952;
  --color-dark: #222a35;
  --color-dark-2: #57595b;
}


img,
svg {
  vertical-align: top;
}

.logo {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 20px;
}

.logo > img {
  width: 100%;
}

.navbar {
  background-color: var(--color-dark);
  padding: 0.5rem;
  border-bottom: 5px solid var(--color-main);
}

.navbar-brand {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: inline-block;
  padding: 0;
  margin: 0.5rem 0.5rem;
}

.nav-link.active {
  border-bottom: 2px solid var(--color-main);
}

.card a {
  text-decoration: none;
  color: var(--color-dark);
}

.card-title {
  pointer-events: fill !important;
}

.card.card-staff {
  transition: 0.2s;
}

.card.card-staff:hover {
  border: 3px solid var(--color-main) !important;

  transform: scale(1.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #f6f6f6;
}

.card-header {
  background-color: var(--color-dark-2);
  padding: 0.2rem 0.5rem;
  color: white;
}

.card-footer > p {
  margin: 0;
}

.card-avatar {
  display: flex;
  height: 100%;
}

.card-avatar > img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .card-avatar > img {
    width: 100%;
    object-fit: cover;
  }
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--color-dark);
}

.breadcrumb-item.active {
  color: var(--color-main);
  font-weight: 500;
}

.breadcrumb-item:hover {
  font-weight: 500;
}

/*
Hm App
*/
.hm-title h3 {
  color: var(--color-main);
}

.hm-title hr {
  height: 2px;
  color: var(--color-main);
  opacity: 0.5;
}

/* page not found */
