.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}

.logo > img {
  width: 100%;
}

.card-title {
  pointer-events: fill !important;
}

.card.staff {
  transition: 0.2s;
}

.card.staff:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #f6f6f6;
}

.card.active {
  background-color: #f6f6f6;
  border: 2px solid #0d6efd !important;
}

.card-header {
  padding: 0.2rem 0.5rem;
}

.card-avatar {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card-avatar > img {
  width: 50%;
}


@media only screen and (min-width: 768px) {
  .card-avatar > img {
    width: 100%;
  }
}
